{% extends 'base.html.twig' %}

{% block title %}Detalles del post{% endblock %}

{% block content %}

{% import 'breadcrumbs.html.twig' as breadcrumbs %}


<div class="max-w-4xl mx-auto p-3 flex gap-2 flex-col">

 

  <div class="w-full bg-white rounded-lg overflow-hidden p-2">
      <p>Categories</p>
  </div>


</div>

{% endblock %}
